.ProseMirror-focused {
	@apply outline-none;
}

.tiptap {
	@apply text-xs leading-loose;
}

.tiptap h2 {
	margin-bottom: 1.5rem;
	@apply text-2xl;
	@apply font-sans;
}

.tiptap a {
	@apply underline;
}

.tiptap .bubble-menu {
	@apply flex gap-2;
}

.tiptap p.is-empty::before {
	float: left;
	height: 0;
	color: #404040;
	pointer-events: none;
	content: attr(data-placeholder);
}
